/* Main CSS-stylesheet */

/* Color variables */
:root {
    --color1: blue;
    --color2: red;

}

/* Debugging tool */
* {
    outline: 1px solid red;
}


#nav {
    display: block;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}